*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	/*margin and padding are not added as a part of element*/
	box-sizing: border-box;
}

/* ROOT, we set root font size to use rem units*/
html {
	// this defines what rem is
	font-size: 62.5%;

	@include respond(tab-land) {
		font-size: 56.25%
	}

	@include respond(tab-port) {
		font-size: 50%
	}

	@include respond(big-desktop) {
		font-size: 75%
	}
}

body {
	padding: 3rem;

	@include respond(phone) {
		padding: 0;
	}
}
